<!DOCTYPE html>
<html>
<head>
  <title><%= article.title %></title>
  <meta property="og:type" content="article">
  <meta property="og:article:author" content="Faye K. Story">
  <meta property="og:title" content="<%= article.title %>">
  <meta property="og:description" content="<%= article.description %>">
  <meta property="og:image" content="<%= article.image %>">
  <script>
    setTimeout(function(){
      window.location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ';
    }, 1000);
  </script>
</head>
<body>
</body>
</html>